.deckForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleInput{
    display: block;
    margin-bottom: 1rem;
    width: 50%;
}

.inputsField{
    position: relative;
    width: 98%;
    padding: 4rem .5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
    box-shadow:
        0 1.6px 3.1px rgba(0, 0, 0, 0.031),
        0 4.1px 7.4px rgba(0, 0, 0, 0.044),
        0 8.3px 14.6px rgba(0, 0, 0, 0.056),
        0 17.2px 31.1px rgba(0, 0, 0, 0.069),
        0 47px 100px rgba(0, 0, 0, 0.1)
        ;
}
.pairInput{
    width: 40%;
}
.pairInput>*{
    width: 100%;
}

.removeInput{
    position: absolute;
    right: 2%;
    top: -2%;
    color:#2B475C;
    transition: color .4s ease;
}

.inputNumber{
    width: 2%;
    margin-right: .5rem;
}    

.removeInput:hover{
    color: #5E8A75;
    cursor: pointer;
}

.deckForm input{
    height: 5rem;
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    font-size: 2.5rem;
    outline: none;
}

.deckForm  .inputsField:last-child{
    margin: 3rem 0 1rem 0;
}

.inputsField input:last-of-type{
    margin-right: 0;
}

.addButtons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
}

.addButtons > button:hover{
    transform: scale(1.01);
}

.addButtons > button:last-of-type{
    margin-right: 0;
}
.dash{
    font-size: 5rem;
}

.closeModalButton{
    display: flex;
    justify-content: center;
}

.modalHeader{
    margin: 1rem auto;
}

