.gameContainer{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.infoCard{
    width: calc(33.3% - 2rem);
    max-height: 35rem;
    margin: 0 2rem 3rem 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow:
    0 1.6px 3.1px rgba(0, 0, 0, 0.031),
    0 4.1px 7.4px rgba(0, 0, 0, 0.044),
    0 8.3px 14.6px rgba(0, 0, 0, 0.056),
    0 17.2px 31.1px rgba(0, 0, 0, 0.069),
    0 47px 100px rgba(0, 0, 0, 0.1)
    ;
} 

.infoCard h2,
.infoCard > p{
    color: #91a79c;
}

.infoCard h2{
    margin: 2rem 0 .5rem 0;
}

.infoCard > p{
    margin: .5rem 0 2rem 0;

}

@media (max-width: 757px) {
    .infoCard h2{
        font-size: 1.8rem;
    }

    .buttons button,
    .buttons a{
        padding: .5rem .75rem;
        font-size: 1.5rem;
    }
}

.gameInfo{
    height: 40%;
    overflow: auto;
    margin-bottom: 2rem;
    padding: 0 1rem;
    font-size: 1.8rem;
    line-height: 1.5;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow:
    0 1.6px 3.1px rgba(0, 0, 0, 0.031),
    0 4.1px 7.4px rgba(0, 0, 0, 0.044),
    0 8.3px 14.6px rgba(0, 0, 0, 0.056),
    0 17.2px 31.1px rgba(0, 0, 0, 0.069),
    0 47px 100px rgba(0, 0, 0, 0.1)
    ;
}

.gameInfo p{
    margin: 1rem 0 0 0;
}

.gameInfo::-webkit-scrollbar{
    width: .3rem;
}
.gameInfo::-webkit-scrollbar-track {
    background: #eee;
    border-radius: 1rem;
  }

.gameInfo::-webkit-scrollbar-thumb{
    background: #5E8A75;
    border-radius: 1rem;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}

.buttons button,
.buttons a{
    padding: 1rem 1.5rem;
    flex: 1;
}

@media (max-width: 1250px) {
    .infoCard{
        width: calc(50% - 2rem);
    }   
}

@media (max-width: 846px) {
    .buttons{
        flex-wrap: wrap;
    }

    .buttons button,
    .buttons a{
        margin: .5rem;
        flex: 0 0 calc(50% - 2rem);

    }
}

@media (max-width: 502px) {
    .buttons{
        flex-direction: column;
        justify-content: unset;
        align-items: center;
    }
    .buttons button,
    .buttons a{
        display: block;
        margin: .2rem 0;
        padding: .5rem .75rem;
        width: 80%;
        font-size: 1.4rem;
    }
    
}
  

.neGameSection{
    padding: 4rem;
}

.neGameSection a{
    margin-top: 3rem    ;
}

.URLContainer{
    background-color: white;
    max-width: 90%;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, .2) inset,
                -2px -2px 2px rgb(0, 0, 0, .2) inset;
}


p.shareText{
    font-size: 2.5rem;
}


@media (max-width: 768px) {    
    p.shareText{
        font-size: 2rem;
    }

    .shareURLModal{
        padding: 2rem;
    }
}

@media (max-width: 425px) {    
    p.shareText{
        font-size: 1.8rem;
    }
}

p.URL{
    color: black;
    font-size: 1.6rem;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}