.burgerMenu{
    display: flex;
    flex-direction: column;
}

.burgerMenu div{
    padding: .2rem 1rem;
    background-color: #2B475C;
    margin-bottom: .3rem;
}

.burgerMenu:hover div{
    background-color: #5E8A75;
    transition: background-color .4 s ease;
    cursor: pointer;
}

@media (min-width: 675px) {
    .burgerMenu{
        display: none;
    }
}