.box{
    text-align: center;
    padding: 3rem 1rem;
    box-shadow:
    0 1.6px 3.1px rgba(0, 0, 0, 0.031),
    0 4.1px 7.4px rgba(0, 0, 0, 0.044),
    0 8.3px 14.6px rgba(0, 0, 0, 0.056),
    0 17.2px 31.1px rgba(0, 0, 0, 0.069),
    0 47px 100px rgba(0, 0, 0, 0.1)
    ;
    margin-bottom: 5rem;
    border-radius: 1rem;
    position: relative;
}